<a href="https://colab.research.google.com/github/cnyakundi/Hypothesis-Testing-With-Cars/blob/master/Test_Of_Hypothesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cyprian Nyakundi Week Four Test of Hypothesis Project

# Bivariate Analysis with Python

## Loading the libraries

In [109]:
# Importing Numpy
import numpy as np

# Importing Pandas
import pandas as pd

# Importing Matplotlib
import matplotlib.pyplot as plt

# Importing Seaborn
import seaborn as sns

## Loading the dataset

In [110]:
#Loading the dataset and setting the index column and parsing the dates 

df=pd.read_csv('autolib_daily_events_postal_code.csv', parse_dates=True, index_col='date')

## Preview the data

In [111]:
df.head()

            Postal code  n_daily_data_points  ...  Slots_freed_sum Slots_taken_sum
date                                          ...
2018-01-01        75001                 1440  ...               22              20
2018-01-02        75001                 1438  ...               23              22
2018-01-03        75001                 1439  ...               27              27
2018-01-04        75001                 1320  ...               25              21
2018-01-05        75001                 1440  ...               18              20

[5 rows x 12 columns]

## Checking for null values

In [112]:
#This confirms that there are no null values in our dataset 

df.isnull().values.any()

False

## Grouping by weekday

In [113]:
#Here we are grouping by weekday in order to use weekday data only 

day_type=df.groupby('day_type')

##  Getting our spoecific group

In [114]:
# We use the get_group method to get our specific weekday data. 
weekday=day_type.get_group('weekday')
weekday

            Postal code  n_daily_data_points  ...  Slots_freed_sum Slots_taken_sum
date                                          ...
2018-01-01        75001                 1440  ...               22              20
2018-01-02        75001                 1438  ...               23              22
2018-01-03        75001                 1439  ...               27              27
2018-01-04        75001                 1320  ...               25              21
2018-01-05        75001                 1440  ...               18              20
...                 ...                  ...  ...              ...             ...
2018-06-13        95880                 1440  ...                0               0
2018-06-14        95880                 1439  ...                0               0
2018-06-15        95880                 1440  ...                0               0
2018-06-18        95880                 1440  ...                0               0
2018-06-19        95880                 1370  ...                0               0

[11544 rows x 12 columns]

# We import the random module

In [115]:
# We will use this to sample our data

import random

In [116]:
# We want to sample 50% of our dataset hence the code below 

length_of_sample=1000

car_samples=weekday.sample(length_of_sample)

car_samples.head()

            Postal code  n_daily_data_points  ...  Slots_freed_sum Slots_taken_sum
date                                          ...
2018-06-12        93260                 1439  ...               15              16
2018-02-20        94120                 1425  ...                0               0
2018-06-19        92380                 1370  ...                0               0
2018-02-21        93130                 1440  ...                0               0
2018-03-01        94800                 1389  ...                0               0

[5 rows x 12 columns]

# Testing the hypothesis

In [117]:
# Importing stats that will help us to the test

import scipy.stats as stats

In [118]:
#Setting the alpha value 

alpha = 0.05

##Chi-Square Test

chi2: The test statistic

In [119]:
# Chi-square test of independence. 
import scipy 

scipy.stats.chisquare(car_samples['BlueCars_taken_sum'], car_samples['BlueCars_returned_sum'],ddof=99, axis=0)

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:5745: RuntimeWarning: divide by zero encountered in true_divide
  terms = (f_obs - f_exp)**2 / f_exp
/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:5745: RuntimeWarning: invalid value encountered in true_divide
  terms = (f_obs - f_exp)**2 / f_exp

Power_divergenceResult(statistic=nan, pvalue=nan)

In [120]:
# chi_square > critical_value meaning that we reject the null hypothesis